<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SILANT</title>
  <meta name="description" content="Электронная сервисная книжка для вилочных погрузчиков"/>
  {% load static %}
  <link href="{% static 'css/default.css'%}" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul class="main-nav">
        <li><a href="{% url 'forklift_list' %}"><img class="silant_text" src="{% static 'images/noroot.png' %}" alt="Мой Силант" width="200" height="60"></a></li>
        <li class="li-text">Электронная сервисная книжка "Мой Силант"</li>
        <li class="li-login"><button class="button-login" onclick="location.href='/'">Авторизация</button></li>
      </ul>
    </nav>
  </header>
  
  <main>
        <div class="header">
          <div class="header-right">
            {% if request.user.is_authenticated %}
              <div class="buttons">
                <form action="/forklift/">
                  <button type="submit" id="table1-button" data-id="{{ forklift.pk }}" class="button">Показать технику</button>
                </form>
                <button id="table2-button" class="button">Показать TO</button>
                <button id="table3-button" class="button">Показать рекламации</button>
              </div>
            {% endif %}
          </div>
        </div>
     {% block content %}
     {{ flatpage.content }}
     {% endblock content %}
  </main>
  
  <footer>
    <div class="div-footer">
      <div class="div-footer-left">
        <p class="div-footer-text">Мой Силант 2023</p>
      </div>
      <li><img class="silant_text" src="{% static 'images/czsa.jpg' %}" width="35" height="40"></li>
      <div class="div-footer-right">
        <p class="div-footer-text">+7-800-700-52-65</p>
      </div>
    </div>
  </footer>
</body>
</html>