<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SILANT</title>
  {% load static %}
  <link href="{% static 'css/default.css'%}" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul class="main-nav">
        {% comment %} <li><a href="{% url 'car_list' %}"><img class="silant_text" src="{% static 'images/Logo.svg' %}" alt="Мой Силант" width="200" height="60"></a></li> {% endcomment %}
        <li><a href="{}"><img class="silant_text" src="{% static 'images/noroot.png' %}" alt="Мой Силант" width="200" height="60"></a></li>
        <li class="li-text">Электронная сервисная книжка "Мой Силант"</li>
        <li class="li-login"><button class="button-login" onclick="location.href='/'">Авторизация</button></li>
      </ul>
    </nav>
  </header>
  
  <main>
        <div class="header">
          <div class="logo">SILANT</div>
          <div class="header-right">
          {% if request.user.is_authenticated %}
            <a href="{% url 'add_claims' %}">Добавить Рекламацию</a>
            <a href="{% url 'add_services' %}">Добавить ТО</a>
            <a href="{% url 'add_forklifts' %}">Добавить Машину</a>
          {% endif %}
          </div>
        </div>
     {% block content %}
     {{ flatpage.content }}
     {% endblock content %}
  </main>
  
  <footer>
    <div class="div-footer">
      <div class="div-footer-left">
        <p class="div-footer-text">Мой Силант 2023</p>
      </div>
      <li><img class="silant_text" src="{% static 'images/czsa.jpg' %}" width="35" height="40"></li>
      <div class="div-footer-right">
        <p class="div-footer-text">+7-800-700-52-65</p>
      </div>
    </div>
  </footer>
</body>
</html>